<div class="sidebar">
  <div class="sidebar-search-bar">
    <div class="search-bar-wrapper">
      <a class="search-bar-icon"><i class="icon-search"></i></a>
      <input ng-model="searchName" id="name-search" placeholder="Search by Location Name" type="text">
    </div>
  </div>
  <div ng-show="searchMode" class="label label-distance">
    Distance from <span class="label-search-query">{{queryAddress}}</span>
    <a class="label-close" href="#"><i class="icon-cancel-circle" ng-click="exitSearch()"></i></a>
  </div>
  <div class="sidebar-listings">
    <div ng-repeat="item in (filteredData = (data | filter:{name: searchName} | orderBy:sortField))" class="listing-wrapper">
      <div ng-if="searchMode" ng-bind-html="getDistanceLabel($index)"></div>
      <a ng-click="activateItem(item.index)" class="sidebar-listing">
        <div class="listing-info">
          <div class="info-name">{{item.name}}</div>
          <div class="info-address1">{{item.address}}</div>
          <div class="info-address2">{{item.city}}, {{item.state}} {{item.zip}}</div>
        </div>
      </a>
    </div>
  </div>
</div>
