<div class="sidebar">
  <div class="sidebar-search-bar">
    <div class="search-bar-wrapper">
      <a class="search-bar-icon"><i class="icon-search"></i></a>
      <input ng-model="searchName" id="name-search" placeholder="Search by Location Name" type="text">
    </div>
  </div>
  <div ng-show="!isArray(groupedData)" class="label label-distance">
    Distance from <span class="label-search-query">{{queryAddress}}</span>
    <a class="label-close" href="#"><i class="icon-cancel-circle" ng-click="exitSearch()"></i></a>
  </div>
  <div class="sidebar-listings">
    <div ng-if="!isArray(groupedData)">
      <div ng-repeat="key in groupKeys" class="sidebar-grouping">
        <div class="label label-miles">{{key + groupLabel}}</div>
        <a ng-repeat="item in groupedData[key] | filter:{name: searchName}" activate-item="{{item.index}}" class="sidebar-listing" ng-transclude></a>
      </div>
    </div>
    <div ng-if="isArray(groupedData)">
      <a ng-repeat="item in groupedData | filter:{name: searchName}" activate-item="{{item.index}}" class="sidebar-listing" ng-transclude></a>
    </div>
  </div>
</div>
